body {
    background-image: url(images/scott-mcculloch-459907-unsplash.jpg);
    font-family: 'Open Sans Condensed', sans-serif;
}

.content {
    background: antiquewhite;
    opacity: .75;
    max-width: 80%;
    margin: auto;
    margin-top: 60px;
    display: flex;
}

.info-container {
    width: 50%;
}

.info-title {
    font-size: 3em;
    margin: 20px;
    text-align: center;
}

.info-instructions {
    font-size: 1em;
    line-height: 150%;
    text-align: center;
    margin: 20px;
}

.game-container {
    width: 50%;
    font-size: 2em;
}

.game-crystals {
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

button {
    width: 20%;
}

img {
    object-fit: contain;
    width: 100%;
}


.game-text-wrapper {
    display: flex;
}

.game-scores-right-container {
    width: 50%;
}

.game-score-container {
    width: 50%;
    margin: 20px;

}

.game-target-score-container {
    margin: 20px;
}

.game-win-loss-tracker-container {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}